$white:#fff;
$darkPurple:#1c244b;
$gray:#353535;
$lightbluewhite:#e6e8ea;
$lightgray:#f6faff;
$smokylight:#e8e9ea;
$black:#000;
$darkgray:#555e6d;
$blue:#3578ea;
$darkblue:#003ca3;
$lightblue:#354156;
$mainblue:#005eff;
$yellow:#fea500;
$green:#34a853;
$orange:#e04826;