.section-title {
    color        : #1c244b;
    line-height  : normal;
    margin-bottom: 12px !important;
    text-align   : center;
    font-size    : 32px;
    font-weight  : 700;

    @media only screen and (max-width:1024px) {
        font-size: 24px;
    }

}

.section-subtitle {
    font-weight: 400;
    text-align : center;
    color      : #172640;
    font-size  : 20px;
    line-height: 28px;
    font-size  : 20px;
}

.mob-section-title {
    margin-bottom: 24px;
    color        : #1c244b;
    font-size    : 28px;
    font-style   : normal;
    font-weight  : 700;
    line-height  : normal;

}

.mob-title {
    line-height  : normal;
    margin-bottom: 28px;
    color        : #1c244b;
    text-align   : center;
    font-size    : 28px;
    font-style   : normal;
    font-weight  : 700;
}

.section-subtitle-lt {
    color      : #1c244b;
    text-align : center;
    font-size  : 16px;
    font-weight: 400;
    line-height: 24px;
    margin     : 0 auto 36px;
    max-width  : 1090px;
}