.container {
    max-width : 1440px;
    padding   : 0 64px;
    margin    : 0 auto;
    box-sizing: content-box;
}

.container-fluid {
    width  : 100%;
    padding: 0 20px;
}

.row {
    display         : flex;
    flex-wrap       : wrap;
    margin          : 0 -12px;
    //   align-items: center;

}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: end;
}

/* [class|="col"] {
    padding: 0px 16px;
} */

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 6);
}

.col-3 {
    width: calc(100% / 4);
}

.col-4 {
    width: calc(100% / 3);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 2);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 3 * 2);
}

.col-9 {
    width: calc(100% / 4 * 3);
}

.col-10 {
    width: calc(100% / 6 * 5);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

/* desktop responsive - xs */
@media only screen and (max-width: 575px) {
    .container-xs {
        width : 80%;
        margin: 0 auto;
    }

    .container-xs-fluid {
        width  : 100%;
        padding: 0 15px;
    }

    .col-xs-1 {
        width: calc(100% / 12);
    }

    .col-xs-2 {
        width: calc(100% / 6);
    }

    .col-xs-3 {
        width: calc(100% / 4);
    }

    .col-xs-4 {
        width: calc(100% / 3);
    }

    .col-xs-5 {
        width: calc(100% / 12 * 5);
    }

    .col-xs-6 {
        width: calc(100% / 2);
    }

    .col-xs-7 {
        width: calc(100% / 12 * 7);
    }

    .col-xs-8 {
        width: calc(100% / 3 * 2);
    }

    .col-xs-9 {
        width: calc(100% / 4 * 3);
    }

    .col-xs-10 {
        width: calc(100% / 6 * 5);
    }

    .col-xs-11 {
        width: calc(100% / 12 * 11);
    }

    .col-xs-12 {
        width: 100%;
    }

    .d-xs-none {
        display: none;
    }

    .d-xs-block {
        display: block;
    }

    .d-xs-inline {
        display: inline;
    }

    .d-xs-flex {
        display: flex;
    }
}

/* phone responsive - sm */
@media only screen and (min-width: 576px) {
    .container-sm {
        width : 70%;
        margin: 0 auto;
    }

    .container-sm-fluid {
        width  : 100%;
        padding: 0 15px;
    }

    .col-sm-1 {
        width: calc(100% / 12);
    }

    .col-sm-2 {
        width: calc(100% / 6);
    }

    .col-sm-3 {
        width: calc(100% / 4);
    }

    .col-sm-4 {
        width: calc(100% / 3);
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5);
    }

    .col-sm-6 {
        width: calc(100% / 2);
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7);
    }

    .col-sm-8 {
        width: calc(100% / 3 * 2);
    }

    .col-sm-9 {
        width: calc(100% / 4 * 3);
    }

    .col-sm-10 {
        width: calc(100% / 6 * 5);
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11);
    }

    .col-sm-12 {
        width: 100%;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-inline {
        display: inline;
    }

    .d-sm-flex {
        display: flex;
    }

    .justify-content-center-sm {
        justify-content: center;
    }

    .justify-content-between-sm {
        justify-content: space-between;
    }

    .justify-content-around-sm {
        justify-content: space-around;
    }

    .justify-content-end-sm {
        justify-content: end;
    }

    .justify-content-start-sm {
        justify-content: start;
    }

}



/* desktop responsive - lg */
@media only screen and (max-width: 1024px) {
    .container-lg {
        width     : 100%;
        margin    : 0 auto;
        padding   : 0 16px ;
        box-sizing: border-box;
    }

    .justify-content-end-lg {
        justify-content: end;
    }

    .container-lg-fluid {
        width  : 100%;
        padding: 0 15px;
    }

    .col-lg-1 {
        width: calc(100% / 12);
    }

    .col-lg-2 {
        width: calc(100% / 6);
    }

    .col-lg-3 {
        width: calc(100% / 4);
    }

    .col-lg-4 {
        width: calc(100% / 3);
    }

    .col-lg-5 {
        width: calc(100% / 12 * 5);
    }

    .col-lg-6 {
        width: calc(100% / 2);
    }

    .col-lg-7 {
        width: calc(100% / 12 * 7);
    }

    .col-lg-8 {
        width: calc(100% / 3 * 2);
    }

    .col-lg-9 {
        width: calc(100% / 4 * 3);
    }

    .col-lg-10 {
        width: calc(100% / 6 * 5);
    }

    .col-lg-11 {
        width: calc(100% / 12 * 11);
    }

    .col-lg-12 {
        width: 100%;
    }

    .d-lg-none {
        display: none !important;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-flex {
        display: flex;
    }

    .justify-content-center-lg {
        justify-content: center;
    }

    .justify-content-end-lg {
        justify-content: end;
    }

    .justify-content-around-lg {
        justify-content: space-around;
    }

    .justify-content-start-lg {
        justify-content: start;
    }
}

/* tablet responsive - md */
@media only screen and (max-width: 768px) {
    .container-md {
        width : 80%;
        margin: 0 auto;
    }

    .container-md-fluid {
        width  : 100%;
        padding: 0 15px;
    }

    .col-md-1 {
        width: calc(100% / 12);
    }

    .col-md-2 {
        width: calc(100% / 6);
    }

    .col-md-3 {
        width: calc(100% / 4);
    }

    .col-md-4 {
        width: calc(100% / 3);
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
    }

    .col-md-6 {
        width: calc(100% / 2);
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
    }

    .col-md-8 {
        width: calc(100% / 3 * 2);
    }

    .col-md-9 {
        width: calc(100% / 4 * 3);
    }

    .col-md-10 {
        width: calc(100% / 6 * 5);
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
    }

    .col-md-12 {
        width: 100%;
    }

    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline {
        display: inline;

    }

    .d-md-flex {
        display: flex;
    }

    .justify-content-between-md {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    .container-xl {
        width : 80%;
        margin: 0 auto;
    }

    .container-xl-fluid {
        width  : 100%;
        padding: 0 15px;
    }

    .col-xl-1 {
        width: calc(100% / 12);
    }

    .col-xl-2 {
        width: calc(100% / 6);
    }

    .col-xl-3 {
        width: calc(100% / 4);
    }

    .col-xl-4 {
        width: calc(100% / 3);
    }

    .col-xl-5 {
        width: calc(100% / 12 * 5);
    }

    .col-xl-6 {
        width: calc(100% / 2);
    }

    .col-xl-7 {
        width: calc(100% / 12 * 7);
    }

    .col-xl-8 {
        width: calc(100% / 3 * 2);
    }

    .col-xl-9 {
        width: calc(100% / 4 * 3);
    }

    .col-xl-10 {
        width: calc(100% / 6 * 5);
    }

    .col-xl-11 {
        width: calc(100% / 12 * 11);
    }

    .col-xl-12 {
        width: 100%;
    }

    .d-xl-none {
        display: none;
    }

    .d-xl-block {
        display: block;
    }

    .d-xl-inline {
        display: inline;
    }

    .d-xl-flex {
        display: flex;
    }

    .justify-content-end-xl {
        justify-content: end;
    }
}